<a href="https://colab.research.google.com/github/greypen2006/Final_Project/blob/main/N1.01.%20Clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning Datasets

**Outline**
1. Find selected boroughs and year.
2. Remove any NaN figures.
3. Save tables as csvs to be merged.

In [31]:
from matplotlib import pyplot as plt
from matplotlib import pylab
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.colors as mcolors
import matplotlib as mpl
from matplotlib import cm
from matplotlib.colors import LinearSegmentedColormap
import matplotlib.patches as mpatches

# Unemployment Data

In [32]:
# Open and view data.
!mkdir -p data
!curl -L 'https://drive.google.com/uc?export=download&id=1AWz2eo4Buf5yYa0HC6sumC4s5cmCY77H&confirm=xxx' -o ./data/unemployment.raw1.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2432  100  2432    0     0     82      0  0:00:29  0:00:29 --:--:--   573

In [33]:
df=pd.read_csv('./data/unemployment.raw1.csv')
df

Empty DataFrame
Columns: [<!DOCTYPE html><html><head><title>Google Drive - Virus scan warning</title><meta http-equiv="content-type" content="text/html; charset=utf-8"/><style nonce="8PnOWpNp5-1vAj0FDKL5zQ">.goog-link-button{position:relative;color:#15c;text-decoration:underline;cursor:pointer}.goog-link-button-disabled{color:#ccc;text-decoration:none;cursor:default}body{color:#222;font:normal 13px/1.4 arial, sans-serif;margin:0}.grecaptcha-badge{visibility:hidden}.uc-main{padding-top:50px;text-align:center}#uc-dl-icon{display:inline-block;margin-top:16px;padding-right:1em;vertical-align:top}#uc-text{display:inline-block;max-width:68ex;text-align:left}.uc-error-caption, .uc-warning-caption{color:#222;font-size:16px}#uc-download-link{text-decoration:none}.uc-name-size a{color:#15c;text-decoration:none}.uc-name-size a:visited{color:#61c;text-decoration:none}.uc-name-size a:active{color:#d14836;text-decoration:none}.uc-footer{color:#777;font-size:11px;padding-bottom:5ex;padding-top:5ex;text-align:center}.uc-footer a{color:#15c}.uc-footer a:visited{color:#61c}.uc-footer a:active{color:#d14836}.uc-footer-divider{color:#ccc;width:100%}.goog-inline-block{position:relative;display:-moz-inline-box;display:inline-block}* html .goog-inline-block{display:inline}*:first-child+html .goog-inline-block{display:inline}sentinel{}</style><link rel="icon" href="//ssl.gstatic.com/docs/doclist/images/drive_2022q3_32dp.png"/></head><body><div class="uc-main"><div id="uc-dl-icon" class="image-container"><div class="drive-sprite-aux-download-file"></div></div><div id="uc-text"><p class="uc-warning-caption">Google Drive can't scan this file for viruses.</p><p class="uc-warning-subcaption">We are experiencing technical difficulties. Would you still like to download this file? <span class="uc-name-size"><a href="/open?id=1AWz2eo4Buf5yYa0HC6sumC4s5cmCY77H">unemployment.raw1.csv</a> (1.3k)</span></p><form id="download-form" action="https://drive.usercontent.google.com/download" method="get"><input type="submit" id="uc-download-link" class="goog-inline-block jfk-button jfk-button-action" value="Download anyway"/><input type="hidden" name="id" value="1AWz2eo4Buf5yYa0HC6sumC4s5cmCY77H"><input type="hidden" name="export" value="download"><input type="hidden" name="confirm" value="t"><input type="hidden" name="uuid" value="193022cc-2fae-4dc8-9732-689c99f30878"></form></div></div><div class="uc-footer"><hr class="uc-footer-divider"></div></body></html>]
Index: []

In [34]:
# Drop the NaN row
clean_df = df.dropna(how='all')
clean_df.to_csv('unemployment_cleaned.csv', index=False)
print("Cleaned DataFrame saved to 'unemployment_cleaned.csv'")

Cleaned DataFrame saved to 'unemployment_cleaned.csv'

In [35]:
clean_df

Empty DataFrame
Columns: [<!DOCTYPE html><html><head><title>Google Drive - Virus scan warning</title><meta http-equiv="content-type" content="text/html; charset=utf-8"/><style nonce="8PnOWpNp5-1vAj0FDKL5zQ">.goog-link-button{position:relative;color:#15c;text-decoration:underline;cursor:pointer}.goog-link-button-disabled{color:#ccc;text-decoration:none;cursor:default}body{color:#222;font:normal 13px/1.4 arial, sans-serif;margin:0}.grecaptcha-badge{visibility:hidden}.uc-main{padding-top:50px;text-align:center}#uc-dl-icon{display:inline-block;margin-top:16px;padding-right:1em;vertical-align:top}#uc-text{display:inline-block;max-width:68ex;text-align:left}.uc-error-caption, .uc-warning-caption{color:#222;font-size:16px}#uc-download-link{text-decoration:none}.uc-name-size a{color:#15c;text-decoration:none}.uc-name-size a:visited{color:#61c;text-decoration:none}.uc-name-size a:active{color:#d14836;text-decoration:none}.uc-footer{color:#777;font-size:11px;padding-bottom:5ex;padding-top:5ex;text-align:center}.uc-footer a{color:#15c}.uc-footer a:visited{color:#61c}.uc-footer a:active{color:#d14836}.uc-footer-divider{color:#ccc;width:100%}.goog-inline-block{position:relative;display:-moz-inline-box;display:inline-block}* html .goog-inline-block{display:inline}*:first-child+html .goog-inline-block{display:inline}sentinel{}</style><link rel="icon" href="//ssl.gstatic.com/docs/doclist/images/drive_2022q3_32dp.png"/></head><body><div class="uc-main"><div id="uc-dl-icon" class="image-container"><div class="drive-sprite-aux-download-file"></div></div><div id="uc-text"><p class="uc-warning-caption">Google Drive can't scan this file for viruses.</p><p class="uc-warning-subcaption">We are experiencing technical difficulties. Would you still like to download this file? <span class="uc-name-size"><a href="/open?id=1AWz2eo4Buf5yYa0HC6sumC4s5cmCY77H">unemployment.raw1.csv</a> (1.3k)</span></p><form id="download-form" action="https://drive.usercontent.google.com/download" method="get"><input type="submit" id="uc-download-link" class="goog-inline-block jfk-button jfk-button-action" value="Download anyway"/><input type="hidden" name="id" value="1AWz2eo4Buf5yYa0HC6sumC4s5cmCY77H"><input type="hidden" name="export" value="download"><input type="hidden" name="confirm" value="t"><input type="hidden" name="uuid" value="193022cc-2fae-4dc8-9732-689c99f30878"></form></div></div><div class="uc-footer"><hr class="uc-footer-divider"></div></body></html>]
Index: []

In [36]:
# Download to save to cleaned datasets
from google.colab import files
files.download('unemployment_cleaned.csv')

# Crime Data

In [37]:
!mkdir -p data
!curl -L "https://drive.google.com/uc?export=download&id=1pfk8XfbKsG1YTIiVl_4wGnrn2SrTTMJF&confirm=xxx" -o ./data/MPS_Borough_Level_Crime_Historic.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2451  100  2451    0     0     83      0  0:00:29  0:00:29 --:--:--   597

In [38]:
!mkdir -p data
!curl -L "https://drive.google.com/uc?export=download&id=1sOvy-_v1e0wn-T9n-f9UQ0Wf77KW3Eb-" -o ./data/MPS_Borough_Level_Crime_recent.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  128k  100  128k    0     0   116k      0  0:00:01  0:00:01 --:--:--  125M

In [39]:
df1=pd.read_csv('./data/MPS_Borough_Level_Crime_Historic.csv')
df1

Empty DataFrame
Columns: [<!DOCTYPE html><html><head><title>Google Drive - Virus scan warning</title><meta http-equiv="content-type" content="text/html; charset=utf-8"/><style nonce="KbrFLLuQBtAEF_htPH1lww">.goog-link-button{position:relative;color:#15c;text-decoration:underline;cursor:pointer}.goog-link-button-disabled{color:#ccc;text-decoration:none;cursor:default}body{color:#222;font:normal 13px/1.4 arial, sans-serif;margin:0}.grecaptcha-badge{visibility:hidden}.uc-main{padding-top:50px;text-align:center}#uc-dl-icon{display:inline-block;margin-top:16px;padding-right:1em;vertical-align:top}#uc-text{display:inline-block;max-width:68ex;text-align:left}.uc-error-caption, .uc-warning-caption{color:#222;font-size:16px}#uc-download-link{text-decoration:none}.uc-name-size a{color:#15c;text-decoration:none}.uc-name-size a:visited{color:#61c;text-decoration:none}.uc-name-size a:active{color:#d14836;text-decoration:none}.uc-footer{color:#777;font-size:11px;padding-bottom:5ex;padding-top:5ex;text-align:center}.uc-footer a{color:#15c}.uc-footer a:visited{color:#61c}.uc-footer a:active{color:#d14836}.uc-footer-divider{color:#ccc;width:100%}.goog-inline-block{position:relative;display:-moz-inline-box;display:inline-block}* html .goog-inline-block{display:inline}*:first-child+html .goog-inline-block{display:inline}sentinel{}</style><link rel="icon" href="//ssl.gstatic.com/docs/doclist/images/drive_2022q3_32dp.png"/></head><body><div class="uc-main"><div id="uc-dl-icon" class="image-container"><div class="drive-sprite-aux-download-file"></div></div><div id="uc-text"><p class="uc-warning-caption">Google Drive can't scan this file for viruses.</p><p class="uc-warning-subcaption">We are experiencing technical difficulties. Would you still like to download this file? <span class="uc-name-size"><a href="/open?id=1pfk8XfbKsG1YTIiVl_4wGnrn2SrTTMJF">MPS Borough Level Crime (Historical).csv</a> (558k)</span></p><form id="download-form" action="https://drive.usercontent.google.com/download" method="get"><input type="submit" id="uc-download-link" class="goog-inline-block jfk-button jfk-button-action" value="Download anyway"/><input type="hidden" name="id" value="1pfk8XfbKsG1YTIiVl_4wGnrn2SrTTMJF"><input type="hidden" name="export" value="download"><input type="hidden" name="confirm" value="t"><input type="hidden" name="uuid" value="8d01e395-0a46-4f38-9d29-0132d4adcbc6"></form></div></div><div class="uc-footer"><hr class="uc-footer-divider"></div></body></html>]
Index: []

In [40]:
df2=pd.read_csv('./data/MPS_Borough_Level_Crime_recent.csv')
df2

,MajorText,MinorText,BoroughName,202312,202401,202402,202403,202404,202405,202406,...,202502,202503,202504,202505,202506,202507,202508,202509,202510,202511
0,ARSON AND CRIMINAL DAMAGE,ARSON,Barking and Dagenham,4,4,5,6,3,8,2,...,8,4,12,10,10,11,10,5,6,8
1,ARSON AND CRIMINAL DAMAGE,CRIMINAL DAMAGE,Barking and Dagenham,125,126,124,134,112,102,106,...,89,103,124,108,124,137,126,100,100,104
2,BURGLARY,BURGLARY BUSINESS AND COMMUNITY,Barking and Dagenham,20,31,21,30,24,28,33,...,14,24,20,27,25,24,23,23,16,21
3,BURGLARY,RES BURGLARY OF A HOME,Barking and Dagenham,44,57,33,45,42,31,31,...,35,58,30,31,35,32,29,31,34,63
4,BURGLARY,RES BURGLARY OF UNCONNECTED BUILDING,Barking and Dagenham,9,10,16,5,10,11,6,...,13,20,11,7,16,5,13,12,22,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,VIOLENCE AGAINST THE PERSON,DEATH SERIOUS INJURY ILLEGAL DRIVING,Westminster,1,1,0,2,0,0,2,...,0,1,0,0,0,1,0,0,0,2
1052,VIOLENCE AGAINST THE PERSON,HOMICIDE,Westminster,0,0,0,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
1053,VIOLENCE AGAINST THE PERSON,STALKING AND HARASSMENT,Westminster,157,176,184,125,165,161,128,...,166,178,156,198,171,198,190,183,243,156
1054,VIOLENCE AGAINST THE PERSON,VIOLENCE WITH INJURY,Westminster,379,292,306,265,228,292,267,...,203,237,239,251,304,306,289,271,232,282
1055,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,Westminster,525,420,397,407,419,440,492,...,410,498,432,527,532,501,505,564,507,527

In [41]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random
%matplotlib inline

In [42]:
# Concatenate the 2 dfs together
df3 = pd.concat([df1,df2], ignore_index=True)
df3

,"<!DOCTYPE html><html><head><title>Google Drive - Virus scan warning</title><meta http-equiv=""content-type"" content=""text/html; charset=utf-8""/><style nonce=""KbrFLLuQBtAEF_htPH1lww"">.goog-link-button{position:relative;color:#15c;text-decoration:underline;cursor:pointer}.goog-link-button-disabled{color:#ccc;text-decoration:none;cursor:default}body{color:#222;font:normal 13px/1.4 arial",sans-serif;margin:0}.grecaptcha-badge{visibility:hidden}.uc-main{padding-top:50px;text-align:center}#uc-dl-icon{display:inline-block;margin-top:16px;padding-right:1em;vertical-align:top}#uc-text{display:inline-block;max-width:68ex;text-align:left}.uc-error-caption,".uc-warning-caption{color:#222;font-size:16px}#uc-download-link{text-decoration:none}.uc-name-size a{color:#15c;text-decoration:none}.uc-name-size a:visited{color:#61c;text-decoration:none}.uc-name-size a:active{color:#d14836;text-decoration:none}.uc-footer{color:#777;font-size:11px;padding-bottom:5ex;padding-top:5ex;text-align:center}.uc-footer a{color:#15c}.uc-footer a:visited{color:#61c}.uc-footer a:active{color:#d14836}.uc-footer-divider{color:#ccc;width:100%}.goog-inline-block{position:relative;display:-moz-inline-box;display:inline-block}* html .goog-inline-block{display:inline}*:first-child+html .goog-inline-block{display:inline}sentinel{}</style><link rel=""icon"" href=""//ssl.gstatic.com/docs/doclist/images/drive_2022q3_32dp.png""/></head><body><div class=""uc-main""><div id=""uc-dl-icon"" class=""image-container""><div class=""drive-sprite-aux-download-file""></div></div><div id=""uc-text""><p class=""uc-warning-caption"">Google Drive can't scan this file for viruses.</p><p class=""uc-warning-subcaption"">We are experiencing technical difficulties. Would you still like to download this file? <span class=""uc-name-size""><a href=""/open?id=1pfk8XfbKsG1YTIiVl_4wGnrn2SrTTMJF"">MPS Borough Level Crime (Historical).csv</a> (558k)</span></p><form id=""download-form"" action=""https://drive.usercontent.google.com/download"" method=""get""><input type=""submit"" id=""uc-download-link"" class=""goog-inline-block jfk-button jfk-button-action"" value=""Download anyway""/><input type=""hidden"" name=""id"" value=""1pfk8XfbKsG1YTIiVl_4wGnrn2SrTTMJF""><input type=""hidden"" name=""export"" value=""download""><input type=""hidden"" name=""confirm"" value=""t""><input type=""hidden"" name=""uuid"" value=""8d01e395-0a46-4f38-9d29-0132d4adcbc6""></form></div></div><div class=""uc-footer""><hr class=""uc-footer-divider""></div></body></html>",MajorText,MinorText,BoroughName,202312,202401,202402,202403,...,202502,202503,202504,202505,202506,202507,202508,202509,202510,202511
0,NaN,NaN,NaN,ARSON AND CRIMINAL DAMAGE,ARSON,Barking and Dagenham,4.0,4.0,5.0,6.0,...,8.0,4.0,12.0,10.0,10.0,11.0,10.0,5.0,6.0,8.0
1,NaN,NaN,NaN,ARSON AND CRIMINAL DAMAGE,CRIMINAL DAMAGE,Barking and Dagenham,125.0,126.0,124.0,134.0,...,89.0,103.0,124.0,108.0,124.0,137.0,126.0,100.0,100.0,104.0
2,NaN,NaN,NaN,BURGLARY,BURGLARY BUSINESS AND COMMUNITY,Barking and Dagenham,20.0,31.0,21.0,30.0,...,14.0,24.0,20.0,27.0,25.0,24.0,23.0,23.0,16.0,21.0
3,NaN,NaN,NaN,BURGLARY,RES BURGLARY OF A HOME,Barking and Dagenham,44.0,57.0,33.0,45.0,...,35.0,58.0,30.0,31.0,35.0,32.0,29.0,31.0,34.0,63.0
4,NaN,NaN,NaN,BURGLARY,RES BURGLARY OF UNCONNECTED BUILDING,Barking and Dagenham,9.0,10.0,16.0,5.0,...,13.0,20.0,11.0,7.0,16.0,5.0,13.0,12.0,22.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,NaN,NaN,NaN,VIOLENCE AGAINST THE PERSON,DEATH SERIOUS INJURY ILLEGAL DRIVING,Westminster,1.0,1.0,0.0,2.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
1052,NaN,NaN,NaN,VIOLENCE AGAINST THE PERSON,HOMICIDE,Westminster,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1053,NaN,NaN,NaN,VIOLENCE AGAINST THE PERSON,STALKING AND HARASSMENT,Westminster,157.0,176.0,184.0,125.0,...,166.0,178.0,156.0,198.0,171.0,198.0,190.0,183.0,243.0,156.0
1054,NaN,NaN,NaN,VIOLENCE AGAINST THE PERSON,VIOLENCE WITH INJURY,Westminster,379.0,292.0,306.0,265.0,...,203.0,237.0,239.0,251.0,304.0,306.0,289.0,271.0,232.0,282.0
1055,NaN,NaN,NaN,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,Westminster,525.0,420.0,397.0,407.0,...,410.0,498.0,432.0,527.0,532.0,501.0,505.0,564.0,507.0,527.0

### Melt and Concatenate DataFrames

Transform `df1` and `df2` from year-month columns to rows, then combine them into a single DataFrame.

In [44]:
# Melt the 2 dfs using the ids MajorText, MinorText and BoroughName, create column for the date and crime count
id_vars = ['MajorText', 'MinorText', 'BoroughName']
value_vars_df1 = [col for col in df1.columns if col not in id_vars]
df1_melted = pd.melt(df1, id_vars=id_vars, value_vars=value_vars_df1, var_name='YearMonth', value_name='CrimeCount')
df1_melted.head()

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['MajorText', 'MinorText', 'BoroughName']"

In [ ]:
# Same for df2
id_vars = ['MajorText', 'MinorText', 'BoroughName']
value_vars_df2 = [col for col in df2.columns if col not in id_vars]
df2_melted = pd.melt(df2, id_vars=id_vars, value_vars=value_vars_df2, var_name='YearMonth', value_name='CrimeCount')
df2_melted.head()

In [ ]:
# Concatenate the 2
combined_df = pd.concat([df1_melted, df2_melted], ignore_index=True)
combined_df.head()

In [ ]:
# Verifying data types and structure
combined_df.info()

### Extract and Filter by Year

Extract the year from the 'YearMonth' column and filter the combined DataFrame to include only data for the years 2017 to 2024. Taking first 4 characters and convert to integer type.

In [ ]:
combined_df['Year'] = combined_df['YearMonth'].astype(str).str[:4].astype(int)
combined_df.head()

In [ ]:
# Filter for 2017-2024
combined_df_filtered = combined_df[(combined_df['Year'] >= 2017) & (combined_df['Year'] <= 2024)]
combined_df_filtered.head()

### Filter by Boroughs

Filter the DataFrame to include only the specified boroughs: Camden, Islington, Hackney, Tower Hamlets, Greenwich, Southwark, Lambeth, Hammersmith and Fulham, Kensington and Chelsea, Westminster, and Brent.

In [ ]:
borough_list = ['Camden', 'Islington', 'Hackney', 'Tower Hamlets', 'Greenwich', 'Southwark', 'Lambeth', 'Hammersmith and Fulham', 'Kensington and Chelsea', 'Westminster', 'Brent']
print("Borough list created.")

In [ ]:
combined_df_borough_filtered = combined_df_filtered[combined_df_filtered['BoroughName'].isin(borough_list)]
combined_df_borough_filtered.head()

### Convert Crime count to crime rate with population data

In [ ]:
#Continuous issues with tokenising data due to structure --> lead to importing data from google.colab directly (available as Population.csv in Raw Datasets folder)

In [ ]:
from google.colab import files
uploaded2 = files.upload()

In [ ]:
# Skip to Total population data
pop_df=pd.read_csv('Population.csv', skiprows=63, encoding='latin1')
pop_df = pop_df.rename(columns={'local authority: county / unitary (as of April 2023)': 'BoroughName'}) # rename for consistency
id_vars = ['BoroughName', 'mnemonic']
value_vars = [str(year) for year in range(2017, 2025)] # Select years to filter
pop_df_melted = pd.melt(pop_df, id_vars=id_vars, value_vars=value_vars, var_name='Year', value_name='Population') # melt together
pop_df_melted['Year'] = pop_df_melted['Year'].astype(int)
pop_df_melted

In [ ]:
# Merge on BoroughName, Year
combined_df_merged = pd.merge(combined_df_borough_filtered, pop_df_melted, on=['BoroughName', 'Year'], how='left')
# Calculate crime rate by dividing by population and *100 (percentage)
combined_df_merged['CrimeRate'] = (combined_df_merged['CrimeCount'] / combined_df_merged['Population']) * 100
combined_df_merged.head()

In [ ]:
combined_df_merged.tail()

In [ ]:
# Save to upload to cleaned datasets
combined_df_merged.to_csv('crime_cleaned_final.csv', index=False)

In [ ]:
files.download('crime_cleaned_final.csv')

# Female Population Data

In [45]:
!mkdir -p data
!curl -L 'https://drive.google.com/uc?export=download&id=107i0YICDfbz9DSa66mgdiyFKtJPu1BpM&confirm=xxx' -o ./data/femalepopuncleaned.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  230k  100  230k    0     0   189k      0  0:00:01  0:00:01 --:--:-- 74.8M

In [46]:
df_fpop=pd.read_csv('./data/femalepopuncleaned.csv')
df_fpop

,Code,Name,Geography,All ages,0,1,2,3,4,5,...,81,82,83,84,85,86,87,88,89,90+
0,K02000001,UNITED KINGDOM,Country,"35,350,669","326,016","336,137","357,634","355,532","369,036","375,561",...,"228,827","199,487","172,781","171,950","162,329","149,584","133,110","117,829","102,415","414,716"
1,K03000001,GREAT BRITAIN,Country,"34,372,604","316,297","326,219","346,741","344,890","357,992","364,127",...,"222,539","194,136","168,032","167,539","158,149","145,883","129,650","114,848","99,796","404,676"
2,K04000001,ENGLAND AND WALES,Country,"31,520,864","293,399","302,974","322,617","320,378","332,804","337,691",...,"203,303","177,110","153,250","152,975","144,806","133,757","119,077","105,285","91,566","373,910"
3,E92000001,ENGLAND,Country,"29,895,762","279,880","289,186","307,802","305,862","317,164","321,861",...,"191,329","166,350","143,911","144,314","136,727","126,189","112,270","99,353","86,576","353,270"
4,E12000001,NORTH EAST,Region,"1,406,130","12,187","12,526","13,318","13,280","13,647","14,221",...,"9,030","8,042","7,273","7,362","6,815","6,453","5,786","4,838","4,403","16,383"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,N09000007,Lisburn and Castlereagh,Local Government District,"76,837",778,767,842,832,823,933,...,546,490,414,410,388,323,314,286,240,876
400,N09000008,Mid and East Antrim,Local Government District,"71,141",624,685,637,666,744,737,...,558,473,406,372,375,300,325,250,225,837
401,N09000009,Mid Ulster,Local Government District,"75,836",907,956,986,"1,004","1,081",975,...,442,348,355,316,297,251,201,200,193,684
402,N09000010,"Newry, Mourne and Down",Local Government District,"92,633","1,025","1,050","1,144","1,136","1,126","1,193",...,564,441,413,419,331,305,300,293,215,912
403,N09000011,Ards and North Down,Local Government District,"84,889",668,695,763,711,768,837,...,722,583,524,455,471,421,349,287,274,"1,135"

In [47]:
#remove column 'code'
df_fpop = df_fpop.drop(columns=['Code'])
#only look at London boroughs
df_fpop = df_fpop[df_fpop['Geography'] == 'London Borough']
df_fpop.head()

,Name,Geography,All ages,0,1,2,3,4,5,6,...,81,82,83,84,85,86,87,88,89,90+
202,Camden,London Borough,"115,907",957,888,940,938,943,895,927,...,465,389,339,330,323,332,219,225,202,768
203,City of London,London Borough,"6,951",22,25,29,15,28,28,10,...,23,14,27,19,18,19,3,7,7,21
204,Hackney,London Borough,"139,603","1,707","1,557","1,600","1,547","1,487","1,427","1,371",...,319,291,240,258,202,180,186,176,147,478
205,Hammersmith and Fulham,London Borough,"101,423",962,925,990,880,891,816,811,...,367,308,311,290,270,196,184,158,136,518
206,Haringey,London Borough,"137,540","1,490","1,401","1,454","1,448","1,366","1,441","1,352",...,454,412,370,352,346,326,256,269,205,748

In [48]:
#Keep relevant boroughs
boroughs_to_keep = ['Camden', 'Islington', 'Hackney', 'Tower Hamlets', 'Greenwich', 'Southwark', 'Lambeth', 'Hammersmith and Fulham', 'Kensington and Chelsea', 'Westminster', 'Brent']
df_fpop = df_fpop[df_fpop['Name'].isin(boroughs_to_keep)]
df_fpop.head()

,Name,Geography,All ages,0,1,2,3,4,5,6,...,81,82,83,84,85,86,87,88,89,90+
202,Camden,London Borough,"115,907",957,888,940,938,943,895,927,...,465,389,339,330,323,332,219,225,202,768
204,Hackney,London Borough,"139,603","1,707","1,557","1,600","1,547","1,487","1,427","1,371",...,319,291,240,258,202,180,186,176,147,478
205,Hammersmith and Fulham,London Borough,"101,423",962,925,990,880,891,816,811,...,367,308,311,290,270,196,184,158,136,518
207,Islington,London Borough,"117,783","1,137","1,078","1,060","1,037",937,914,924,...,326,271,261,242,218,220,175,180,154,560
208,Kensington and Chelsea,London Borough,"77,455",622,664,646,593,565,658,571,...,374,341,263,331,278,221,217,131,168,659

In [49]:
#Keep relevant ages and boroughs
df_fpop.columns = df_fpop.columns.str.strip()
cols_to_keep = ['Name', 'All ages'] + [str(age) for age in range(18, 26)]
df_fpop = df_fpop[cols_to_keep]
df_fpop = df_fpop.rename(columns={'Name': 'Borough'})
df_fpop

,Borough,All ages,18,19,20,21,22,23,24,25
202,Camden,"115,907","1,509","3,249","3,298","3,290","2,645","2,710","2,916","2,762"
204,Hackney,"139,603","1,547","1,403","1,540","1,684","2,000","2,477","2,909","3,212"
205,Hammersmith and Fulham,"101,423",879,840,"1,151","1,461","1,895","2,531","2,819","3,030"
207,Islington,"117,783","1,223","1,885","2,113","2,187","2,489","2,703","2,979","3,050"
208,Kensington and Chelsea,"77,455",697,678,836,"1,049","1,180","1,631","1,678","1,800"
209,Lambeth,"163,730","1,623","1,789","1,790","1,987","2,597","3,550","4,543","5,203"
212,Southwark,"163,114","1,746","2,610","2,846","2,921","2,959","3,184","3,807","3,797"
213,Tower Hamlets,"165,717","1,960","2,850","3,346","3,478","3,735","4,172","4,735","5,302"
215,Westminster,"108,896","1,182","1,759","1,883","2,004","1,868","2,516","2,756","2,737"
219,Brent,"180,473","2,049","2,170","2,465","2,607","2,953","3,225","3,437","3,597"
224,Greenwich,"153,409","1,757","1,614","1,599","1,674","1,855","2,241","2,323","2,588"

In [50]:
#Remove commas from dataset
age_cols = ['All ages'] + [str(age) for age in range(18, 26)]
df_fpop[age_cols] = (df_fpop[age_cols].replace(',', '', regex=True).apply(pd.to_numeric))
df_fpop

,Borough,All ages,18,19,20,21,22,23,24,25
202,Camden,115907,1509,3249,3298,3290,2645,2710,2916,2762
204,Hackney,139603,1547,1403,1540,1684,2000,2477,2909,3212
205,Hammersmith and Fulham,101423,879,840,1151,1461,1895,2531,2819,3030
207,Islington,117783,1223,1885,2113,2187,2489,2703,2979,3050
208,Kensington and Chelsea,77455,697,678,836,1049,1180,1631,1678,1800
209,Lambeth,163730,1623,1789,1790,1987,2597,3550,4543,5203
212,Southwark,163114,1746,2610,2846,2921,2959,3184,3807,3797
213,Tower Hamlets,165717,1960,2850,3346,3478,3735,4172,4735,5302
215,Westminster,108896,1182,1759,1883,2004,1868,2516,2756,2737
219,Brent,180473,2049,2170,2465,2607,2953,3225,3437,3597
224,Greenwich,153409,1757,1614,1599,1674,1855,2241,2323,2588

In [51]:
df_fpop.to_csv('femalepop_by_borough_and_age_cleaned.csv', index=False)

# Income data

In [59]:
!mkdir -p data
!curl -L 'https://drive.google.com/uc?export=download&id=19Q8LWSrKYzTvl7omobH5Q7T1-_Cb9mKh&confirm=xxx' -o ./data/incomeuncleaned.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  9361  100  9361    0     0   6513      0  0:00:01  0:00:01 --:--:--  112k

In [60]:
df_inc=pd.read_csv('./data/incomeuncleaned.csv', encoding='latin1')
df_inc

,Code,Area,2002,Unnamed: 3,2003,Unnamed: 5,2004,Unnamed: 7,2005,Unnamed: 9,...,2020,Unnamed: 39,2021,Unnamed: 41,2022,Unnamed: 43,2023,Unnamed: 45,2024,Unnamed: 47
0,NaN,NaN,Pay (),conf %,Pay (),conf %,Pay (),conf %,Pay (),conf %,...,Pay (),conf %,Pay (),conf %,Pay (),conf %,Pay (),conf %,Pay (),conf %
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00AA,City of London,!,!,!,!,#,#,#,#,...,#,#,#,#,#,#,#,#,#,#
3,00AB,Barking and Dagenham,383.3,5.5,354.9,6.5,360.1,5.2,375.1,5.1,...,486.7,6.5,508.7,7.4,536.6,5.1,558.4,4.5,612.9,4.5
4,00AC,Barnet,427.4,5.1,450.1,5.0,453.3,5.6,442.3,5.3,...,538.8,4.1,574.9,5.8,624.3,4.6,633.1,4.4,714.6,3.8
5,00AD,Bexley,405.0,5.0,431.9,5.1,438.1,5.5,452.4,5.3,...,566.5,7.6,586.6,5.8,634.4,5.2,680.2,4.8,694.4,4.4
6,00AE,Brent,368.4,5.8,359.8,5.0,395.5,5.4,394.7,4.4,...,531.8,6.3,555.7,5.2,556.6,4.0,634.6,3.8,646.2,3.7
7,00AF,Bromley,440.1,5.1,449.2,4.8,461.2,4.5,464.8,4.5,...,613.2,7.0,666.6,5.5,704.2,4.8,718.0,6.3,818.9,4.4
8,00AG,Camden,470.8,7.2,491.1,4.5,507.9,4.3,541.0,5.5,...,623.0,7.1,695.0,5.9,699.2,5.6,732.1,6.1,766.6,4.6
9,00AH,Croydon,405.3,4.5,406.4,4.3,413.3,4.7,421.0,4.8,...,565.1,4.8,613.3,4.1,667.0,4.5,678.0,3.3,721.3,3
10,00AJ,Ealing,431.5,3.9,448.5,4.0,444.2,3.9,437.8,5.0,...,566.8,4.5,582.6,4.3,597.4,3.3,623.1,3.5,684.8,3.2
11,00AK,Enfield,363.1,4.6,377.1,5.7,386.0,5.0,408.1,5.0,...,492.6,5.3,521.5,5.0,562.0,5.5,598.2,4.7,646.2,4.2
12,00AL,Greenwich,401.3,5.5,430.4,5.6,441.8,5.9,405.0,5.2,...,573.1,6.4,618.3,5.1,657.4,4.5,719.4,3.8,749.6,4
13,00AM,Hackney,387.1,6.2,395.2,6.0,411.1,6.3,432.1,6.4,...,574.9,5.7,576.8,5.9,632.8,6.4,667.7,5.6,762.5,4
14,00AN,Hammersmith and Fulham,492.8,6.0,498.3,5.6,512.0,7.3,490.7,6.0,...,713.1,6.4,727.0,5.9,732.6,6.8,790.1,5.0,798.5,4.3
15,00AP,Haringey,384.9,5.9,429.4,5.4,437.3,6.2,438.3,5.7,...,567.8,6.3,546.0,6.2,604.3,6.0,668.4,6.0,727.8,4.1
16,00AQ,Harrow,378.1,5.8,417.1,5.3,407.5,5.4,430.9,4.6,...,570.5,6.6,580.2,6.1,619.6,6.3,625.2,6.7,669.2,4.9
17,00AR,Havering,385.1,6.2,413.4,5.0,449.3,5.2,463.9,5.4,...,574.9,5.4,585.7,5.3,612.9,4.8,670.7,6.2,710.8,3.9
18,00AS,Hillingdon,396.3,4.1,414.4,4.3,431.5,4.5,431.3,4.1,...,560.9,6.0,594.8,5.8,629.6,5.2,677.5,5.8,689.9,4.5
19,00AT,Hounslow,388.6,5.3,395.6,5.2,400.1,5.8,413.9,5.5,...,511.8,5.7,567.2,5.4,604.1,5.4,637.9,4.4,659.3,3.6
20,00AU,Islington,465.0,5.4,472.0,5.9,499.0,5.2,532.5,4.5,...,690.1,8.2,670.7,6.9,701.4,5.7,766.6,5.4,811.2,5.1
21,00AW,Kensington and Chelsea,601.5,10.0,612.7,11.0,691.6,12.0,733.0,11.0,...,802.0,12.0,763.6,12.0,719.1,9.3,855.9,9.9,810.1,11
22,00AX,Kingston upon Thames,435.7,6.7,441.5,6.4,460.7,6.0,479.0,6.3,...,617.3,7.7,667.9,8.1,668.1,6.5,684.3,7.6,727.4,6.6
23,00AY,Lambeth,404.3,5.2,425.5,4.7,446.7,4.0,460.3,3.5,...,670.8,5.0,681.2,4.2,703.0,4.3,774.1,3.2,797.4,3.5
24,00AZ,Lewisham,394.9,4.4,429.6,5.2,425.1,5.8,431.8,5.5,...,574.9,5.1,574.9,5.5,608.4,5.0,662.3,4.6,706.4,4.4
25,00BA,Merton,436.3,5.7,439.4,5.3,442.5,5.9,493.9,5.6,...,578.3,5.4,592.1,5.7,584.4,5.6,745.3,3.6,721.6,5.7
26,00BB,Newham,338.2,5.1,343.4,5.2,371.0,6.1,383.2,5.6,...,534.4,5.3,574.9,4.6,574.9,5.5,633.9,5.0,635.9,3.4
27,00BC,Redbridge,402.5,5.8,433.9,6.3,439.8,5.8,432.7,6.5,...,581.6,5.6,579.3,5.6,581.7,6.4,632.7,5.1,669,4.3
28,00BD,Richmond upon Thames,564.9,5.0,567.8,5.2,595.6,5.5,584.7,4.7,...,702.9,7.1,704.5,6.5,709.3,6.0,749.5,7.4,824,6.5
29,00BE,Southwark,397.6,5.6,423.8,5.1,412.6,5.5,430.4,5.1,...,620.9,5.0,637.8,4.9,672.3,4.5,731.5,4.4,788.6,3.5
30,00BF,Sutton,410.9,5.2,421.7,5.3,426.5,4.2,437.0,4.8,...,543.3,5.0,576.9,6.2,577.3,5.3,635.1,5.2,728.7,4.8
31,00BG,Tower Hamlets,427.2,6.1,450.4,5.6,481.6,6.2,479.1,3.8,...,665.0,6.5,685.2,5.0,725.2,4.5,785.8,4.3,766.5,4.5
32,00BH,Waltham Forest,403.8,4.2,428.7,5.4,433.2,3.9,415.5,4.9,...,596.8,6.5,629.6,4.2,647.0,4.8,683.5,3.4,717.7,4.5
33,00BJ,Wandsworth,502.1,4.3,502.5,4.1,526.8,4.4,538.9,4.3,...,755.2,5.0,746.0,5.2,835.8,5.4,844.7,4.8,843.3,3.5
34,00BK,Westminster,480.0,5.9,504.7,5.9,549.0,6.6,574.0,5.1,...,701.1,9.2,771.1,7.7,738.5,7.1,767.5,7.3,843.3,6.9
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
#Drop rows with NaN
rows_to_drop = list(range(35, 51)) + [0, 1]
df_inc = df_inc.drop(index=rows_to_drop)
df_inc.head()

,Code,Area,2002,Unnamed: 3,2003,Unnamed: 5,2004,Unnamed: 7,2005,Unnamed: 9,...,2020,Unnamed: 39,2021,Unnamed: 41,2022,Unnamed: 43,2023,Unnamed: 45,2024,Unnamed: 47
2,00AA,City of London,!,!,!,!,#,#,#,#,...,#,#,#,#,#,#,#,#,#,#
3,00AB,Barking and Dagenham,383.3,5.5,354.9,6.5,360.1,5.2,375.1,5.1,...,486.7,6.5,508.7,7.4,536.6,5.1,558.4,4.5,612.9,4.5
4,00AC,Barnet,427.4,5.1,450.1,5.0,453.3,5.6,442.3,5.3,...,538.8,4.1,574.9,5.8,624.3,4.6,633.1,4.4,714.6,3.8
5,00AD,Bexley,405.0,5.0,431.9,5.1,438.1,5.5,452.4,5.3,...,566.5,7.6,586.6,5.8,634.4,5.2,680.2,4.8,694.4,4.4
6,00AE,Brent,368.4,5.8,359.8,5.0,395.5,5.4,394.7,4.4,...,531.8,6.3,555.7,5.2,556.6,4.0,634.6,3.8,646.2,3.7

In [63]:
#Remove the 'Code' column and the confidence intervals for each year (the 'Unnamed' columns)
df_inc = df_inc.drop(columns=['Code'])
df_inc = df_inc.drop(columns=[col for col in df_inc.columns if col.startswith('Unnamed')])
df_inc.head()

,Area,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
2,City of London,!,!,#,#,#,#,#,762.4,#,...,#,#,#,909.4,#,#,#,#,#,#
3,Barking and Dagenham,383.3,354.9,360.1,375.1,417.6,446.7,449.9,448.8,429.3,...,436.6,462.2,461.0,479.1,471.0,486.7,508.7,536.6,558.4,612.9
4,Barnet,427.4,450.1,453.3,442.3,466.1,460.0,502.2,528.1,501.6,...,491.0,485.6,522.6,536.6,536.4,538.8,574.9,624.3,633.1,714.6
5,Bexley,405.0,431.9,438.1,452.4,443.4,469.8,483.9,486.3,518.1,...,491.1,487.0,513.0,512.7,553.4,566.5,586.6,634.4,680.2,694.4
6,Brent,368.4,359.8,395.5,394.7,398.7,421.6,437.0,439.1,423.1,...,457.6,467.0,471.0,479.9,524.0,531.8,555.7,556.6,634.6,646.2

In [66]:
#Rename borough column and keep only the 11 relevant boroughs
df_inc = df_inc.rename(columns={'Area': 'Borough'})
boroughs_to_keep = ['Camden', 'Islington', 'Hackney', 'Tower Hamlets', 'Greenwich', 'Southwark', 'Lambeth', 'Hammersmith and Fulham', 'Kensington and Chelsea', 'Westminster', 'Brent']
df_inc = df_inc[df_inc['Borough'].isin(boroughs_to_keep)]
#Switch years with boroughs
df_inc = df_inc.T
df_inc.head()

,6,8,12,13,14,20,21,23,29,31,34
Borough,Brent,Camden,Greenwich,Hackney,Hammersmith and Fulham,Islington,Kensington and Chelsea,Lambeth,Southwark,Tower Hamlets,Westminster
2002,368.4,470.8,401.3,387.1,492.8,465.0,601.5,404.3,397.6,427.2,480.0
2003,359.8,491.1,430.4,395.2,498.3,472.0,612.7,425.5,423.8,450.4,504.7
2004,395.5,507.9,441.8,411.1,512.0,499.0,691.6,446.7,412.6,481.6,549.0
2005,394.7,541.0,405.0,432.1,490.7,532.5,733.0,460.3,430.4,479.1,574.0
2006,398.7,552.2,456.3,428.8,545.7,503.7,670.9,455.6,459.9,472.5,598.1
2007,421.6,592.6,456.2,451.1,546.2,517.5,689.9,490.7,487.8,531.9,625.5
2008,437.0,614.6,480.8,472.6,584.8,566.7,774.7,494.5,493.2,548.1,670.8
2009,439.1,621.1,513.2,503.7,585.1,588.2,805.2,522.4,526.7,556.2,672.2
2010,423.1,583.0,488.7,501.3,596.9,599.0,791.5,574.9,521.2,547.1,718.7
2011,414.9,612.0,488.0,517.4,594.1,598.5,793.9,536.7,530.5,542.3,670.8
2012,442.0,612.0,470.5,511.4,613.3,605.1,655.0,574.8,536.6,566.8,701.0
2013,441.8,629.5,516.5,519.0,610.7,606.0,726.7,536.6,524.4,575.1,625.0
2014,441.8,613.1,509.1,513.0,609.9,613.5,641.3,547.0,529.0,574.9,659.6
2015,457.6,588.1,532.5,534.5,646.7,603.7,632.4,542.9,557.0,554.9,656.0
2016,467.0,632.5,539.3,527.8,641.9,613.3,651.6,551.7,543.0,557.9,667.5
2017,471.0,614.3,553.0,558.1,651.1,646.1,784.4,594.6,587.1,592.0,730.8
2018,479.9,634.4,566.0,555.4,682.0,687.7,670.6,617.1,589.4,627.6,757.1
2019,524.0,662.0,579.5,574.9,728.0,699.1,763.7,634.8,628.0,688.9,703.9
2020,531.8,623.0,573.1,574.9,713.1,690.1,802.0,670.8,620.9,665.0,701.1
2021,555.7,695.0,618.3,576.8,727.0,670.7,763.6,681.2,637.8,685.2,771.1
2022,556.6,699.2,657.4,632.8,732.6,701.4,719.1,703.0,672.3,725.2,738.5
2023,634.6,732.1,719.4,667.7,790.1,766.6,855.9,774.1,731.5,785.8,767.5
2024,646.2,766.6,749.6,762.5,798.5,811.2,810.1,797.4,788.6,766.5,843.3

In [67]:
#Remove the index and make the table neater by adding a 'Year' column
df_inc = df_inc.reset_index()
df_inc.columns = df_inc.iloc[0]
df_inc = df_inc.drop(df_inc.index[0])
df_inc = df_inc.rename(columns={df_inc.columns[0]: 'Year'})
df_inc = df_inc.set_index('Year')
df_inc

,Brent,Camden,Greenwich,Hackney,Hammersmith and Fulham,Islington,Kensington and Chelsea,Lambeth,Southwark,Tower Hamlets,Westminster
Year,,,,,,,,,,,
2002,368.4,470.8,401.3,387.1,492.8,465.0,601.5,404.3,397.6,427.2,480.0
2003,359.8,491.1,430.4,395.2,498.3,472.0,612.7,425.5,423.8,450.4,504.7
2004,395.5,507.9,441.8,411.1,512.0,499.0,691.6,446.7,412.6,481.6,549.0
2005,394.7,541.0,405.0,432.1,490.7,532.5,733.0,460.3,430.4,479.1,574.0
2006,398.7,552.2,456.3,428.8,545.7,503.7,670.9,455.6,459.9,472.5,598.1
2007,421.6,592.6,456.2,451.1,546.2,517.5,689.9,490.7,487.8,531.9,625.5
2008,437.0,614.6,480.8,472.6,584.8,566.7,774.7,494.5,493.2,548.1,670.8
2009,439.1,621.1,513.2,503.7,585.1,588.2,805.2,522.4,526.7,556.2,672.2
2010,423.1,583.0,488.7,501.3,596.9,599.0,791.5,574.9,521.2,547.1,718.7
2011,414.9,612.0,488.0,517.4,594.1,598.5,793.9,536.7,530.5,542.3,670.8
2012,442.0,612.0,470.5,511.4,613.3,605.1,655.0,574.8,536.6,566.8,701.0
2013,441.8,629.5,516.5,519.0,610.7,606.0,726.7,536.6,524.4,575.1,625.0
2014,441.8,613.1,509.1,513.0,609.9,613.5,641.3,547.0,529.0,574.9,659.6
2015,457.6,588.1,532.5,534.5,646.7,603.7,632.4,542.9,557.0,554.9,656.0
2016,467.0,632.5,539.3,527.8,641.9,613.3,651.6,551.7,543.0,557.9,667.5
2017,471.0,614.3,553.0,558.1,651.1,646.1,784.4,594.6,587.1,592.0,730.8
2018,479.9,634.4,566.0,555.4,682.0,687.7,670.6,617.1,589.4,627.6,757.1
2019,524.0,662.0,579.5,574.9,728.0,699.1,763.7,634.8,628.0,688.9,703.9
2020,531.8,623.0,573.1,574.9,713.1,690.1,802.0,670.8,620.9,665.0,701.1
2021,555.7,695.0,618.3,576.8,727.0,670.7,763.6,681.2,637.8,685.2,771.1
2022,556.6,699.2,657.4,632.8,732.6,701.4,719.1,703.0,672.3,725.2,738.5
2023,634.6,732.1,719.4,667.7,790.1,766.6,855.9,774.1,731.5,785.8,767.5
2024,646.2,766.6,749.6,762.5,798.5,811.2,810.1,797.4,788.6,766.5,843.3

In [68]:
#Only keep years 2017 to 2024
df_inc.index = df_inc.index.astype(int)
cleaned_df_inc = df_inc.loc[2017:2024]
cleaned_df_inc

,Brent,Camden,Greenwich,Hackney,Hammersmith and Fulham,Islington,Kensington and Chelsea,Lambeth,Southwark,Tower Hamlets,Westminster
Year,,,,,,,,,,,
2017,471.0,614.3,553.0,558.1,651.1,646.1,784.4,594.6,587.1,592.0,730.8
2018,479.9,634.4,566.0,555.4,682.0,687.7,670.6,617.1,589.4,627.6,757.1
2019,524.0,662.0,579.5,574.9,728.0,699.1,763.7,634.8,628.0,688.9,703.9
2020,531.8,623.0,573.1,574.9,713.1,690.1,802.0,670.8,620.9,665.0,701.1
2021,555.7,695.0,618.3,576.8,727.0,670.7,763.6,681.2,637.8,685.2,771.1
2022,556.6,699.2,657.4,632.8,732.6,701.4,719.1,703.0,672.3,725.2,738.5
2023,634.6,732.1,719.4,667.7,790.1,766.6,855.9,774.1,731.5,785.8,767.5
2024,646.2,766.6,749.6,762.5,798.5,811.2,810.1,797.4,788.6,766.5,843.3

In [69]:
cleaned_df_inc.to_csv('weekly_income_cleaned.csv')