<a href="https://colab.research.google.com/github/greypen2006/Final_Project/blob/main/N1.1cleaned_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving income weekly by borough uncleaned.csv to income weekly by borough uncleaned (6).csv

In [ ]:
from matplotlib import pyplot as plt
from matplotlib import pylab
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.colors as mcolors
import matplotlib as mpl
from matplotlib import cm
from matplotlib.colors import LinearSegmentedColormap
import matplotlib.patches as mpatches

In [ ]:
df = pd.read_csv('income weekly by borough uncleaned.csv',encoding='cp1252')
df

,Code,Area,2002,Unnamed: 3,2003,Unnamed: 5,2004,Unnamed: 7,2005,Unnamed: 9,...,2020,Unnamed: 39,2021,Unnamed: 41,2022,Unnamed: 43,2023,Unnamed: 45,2024,Unnamed: 47
0,NaN,NaN,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,...,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00AA,City of London,!,!,!,!,#,#,#,#,...,#,#,#,#,#,#,#,#,#,#
3,00AB,Barking and Dagenham,383.3,5.5,354.9,6.5,360.1,5.2,375.1,5.1,...,486.7,6.5,508.7,7.4,536.6,5.1,558.4,4.5,612.9,4.5
4,00AC,Barnet,427.4,5.1,450.1,5.0,453.3,5.6,442.3,5.3,...,538.8,4.1,574.9,5.8,624.3,4.6,633.1,4.4,714.6,3.8
5,00AD,Bexley,405.0,5.0,431.9,5.1,438.1,5.5,452.4,5.3,...,566.5,7.6,586.6,5.8,634.4,5.2,680.2,4.8,694.4,4.4
6,00AE,Brent,368.4,5.8,359.8,5.0,395.5,5.4,394.7,4.4,...,531.8,6.3,555.7,5.2,556.6,4.0,634.6,3.8,646.2,3.7
7,00AF,Bromley,440.1,5.1,449.2,4.8,461.2,4.5,464.8,4.5,...,613.2,7.0,666.6,5.5,704.2,4.8,718.0,6.3,818.9,4.4
8,00AG,Camden,470.8,7.2,491.1,4.5,507.9,4.3,541.0,5.5,...,623.0,7.1,695.0,5.9,699.2,5.6,732.1,6.1,766.6,4.6
9,00AH,Croydon,405.3,4.5,406.4,4.3,413.3,4.7,421.0,4.8,...,565.1,4.8,613.3,4.1,667.0,4.5,678.0,3.3,721.3,3
10,00AJ,Ealing,431.5,3.9,448.5,4.0,444.2,3.9,437.8,5.0,...,566.8,4.5,582.6,4.3,597.4,3.3,623.1,3.5,684.8,3.2
11,00AK,Enfield,363.1,4.6,377.1,5.7,386.0,5.0,408.1,5.0,...,492.6,5.3,521.5,5.0,562.0,5.5,598.2,4.7,646.2,4.2
12,00AL,Greenwich,401.3,5.5,430.4,5.6,441.8,5.9,405.0,5.2,...,573.1,6.4,618.3,5.1,657.4,4.5,719.4,3.8,749.6,4
13,00AM,Hackney,387.1,6.2,395.2,6.0,411.1,6.3,432.1,6.4,...,574.9,5.7,576.8,5.9,632.8,6.4,667.7,5.6,762.5,4
14,00AN,Hammersmith and Fulham,492.8,6.0,498.3,5.6,512.0,7.3,490.7,6.0,...,713.1,6.4,727.0,5.9,732.6,6.8,790.1,5.0,798.5,4.3
15,00AP,Haringey,384.9,5.9,429.4,5.4,437.3,6.2,438.3,5.7,...,567.8,6.3,546.0,6.2,604.3,6.0,668.4,6.0,727.8,4.1
16,00AQ,Harrow,378.1,5.8,417.1,5.3,407.5,5.4,430.9,4.6,...,570.5,6.6,580.2,6.1,619.6,6.3,625.2,6.7,669.2,4.9
17,00AR,Havering,385.1,6.2,413.4,5.0,449.3,5.2,463.9,5.4,...,574.9,5.4,585.7,5.3,612.9,4.8,670.7,6.2,710.8,3.9
18,00AS,Hillingdon,396.3,4.1,414.4,4.3,431.5,4.5,431.3,4.1,...,560.9,6.0,594.8,5.8,629.6,5.2,677.5,5.8,689.9,4.5
19,00AT,Hounslow,388.6,5.3,395.6,5.2,400.1,5.8,413.9,5.5,...,511.8,5.7,567.2,5.4,604.1,5.4,637.9,4.4,659.3,3.6
20,00AU,Islington,465.0,5.4,472.0,5.9,499.0,5.2,532.5,4.5,...,690.1,8.2,670.7,6.9,701.4,5.7,766.6,5.4,811.2,5.1
21,00AW,Kensington and Chelsea,601.5,10.0,612.7,11.0,691.6,12.0,733.0,11.0,...,802.0,12.0,763.6,12.0,719.1,9.3,855.9,9.9,810.1,11
22,00AX,Kingston upon Thames,435.7,6.7,441.5,6.4,460.7,6.0,479.0,6.3,...,617.3,7.7,667.9,8.1,668.1,6.5,684.3,7.6,727.4,6.6
23,00AY,Lambeth,404.3,5.2,425.5,4.7,446.7,4.0,460.3,3.5,...,670.8,5.0,681.2,4.2,703.0,4.3,774.1,3.2,797.4,3.5
24,00AZ,Lewisham,394.9,4.4,429.6,5.2,425.1,5.8,431.8,5.5,...,574.9,5.1,574.9,5.5,608.4,5.0,662.3,4.6,706.4,4.4
25,00BA,Merton,436.3,5.7,439.4,5.3,442.5,5.9,493.9,5.6,...,578.3,5.4,592.1,5.7,584.4,5.6,745.3,3.6,721.6,5.7
26,00BB,Newham,338.2,5.1,343.4,5.2,371.0,6.1,383.2,5.6,...,534.4,5.3,574.9,4.6,574.9,5.5,633.9,5.0,635.9,3.4
27,00BC,Redbridge,402.5,5.8,433.9,6.3,439.8,5.8,432.7,6.5,...,581.6,5.6,579.3,5.6,581.7,6.4,632.7,5.1,669,4.3
28,00BD,Richmond upon Thames,564.9,5.0,567.8,5.2,595.6,5.5,584.7,4.7,...,702.9,7.1,704.5,6.5,709.3,6.0,749.5,7.4,824,6.5
29,00BE,Southwark,397.6,5.6,423.8,5.1,412.6,5.5,430.4,5.1,...,620.9,5.0,637.8,4.9,672.3,4.5,731.5,4.4,788.6,3.5
30,00BF,Sutton,410.9,5.2,421.7,5.3,426.5,4.2,437.0,4.8,...,543.3,5.0,576.9,6.2,577.3,5.3,635.1,5.2,728.7,4.8
31,00BG,Tower Hamlets,427.2,6.1,450.4,5.6,481.6,6.2,479.1,3.8,...,665.0,6.5,685.2,5.0,725.2,4.5,785.8,4.3,766.5,4.5
32,00BH,Waltham Forest,403.8,4.2,428.7,5.4,433.2,3.9,415.5,4.9,...,596.8,6.5,629.6,4.2,647.0,4.8,683.5,3.4,717.7,4.5
33,00BJ,Wandsworth,502.1,4.3,502.5,4.1,526.8,4.4,538.9,4.3,...,755.2,5.0,746.0,5.2,835.8,5.4,844.7,4.8,843.3,3.5
34,00BK,Westminster,480.0,5.9,504.7,5.9,549.0,6.6,574.0,5.1,...,701.1,9.2,771.1,7.7,738.5,7.1,767.5,7.3,843.3,6.9
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.drop(df.index[35:51])
df = df.drop(df.index[0:1])
df.head()

,Code,Area,2002,Unnamed: 3,2003,Unnamed: 5,2004,Unnamed: 7,2005,Unnamed: 9,...,2020,Unnamed: 39,2021,Unnamed: 41,2022,Unnamed: 43,2023,Unnamed: 45,2024,Unnamed: 47
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00AA,City of London,!,!,!,!,#,#,#,#,...,#,#,#,#,#,#,#,#,#,#
3,00AB,Barking and Dagenham,383.3,5.5,354.9,6.5,360.1,5.2,375.1,5.1,...,486.7,6.5,508.7,7.4,536.6,5.1,558.4,4.5,612.9,4.5
4,00AC,Barnet,427.4,5.1,450.1,5.0,453.3,5.6,442.3,5.3,...,538.8,4.1,574.9,5.8,624.3,4.6,633.1,4.4,714.6,3.8
5,00AD,Bexley,405.0,5.0,431.9,5.1,438.1,5.5,452.4,5.3,...,566.5,7.6,586.6,5.8,634.4,5.2,680.2,4.8,694.4,4.4

In [ ]:
df = df.drop(columns=['Code'])
df = df.drop(columns=[col for col in df.columns if col.startswith('Unnamed')])
df.head()

,Area,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,City of London,!,!,#,#,#,#,#,762.4,#,...,#,#,#,909.4,#,#,#,#,#,#
3,Barking and Dagenham,383.3,354.9,360.1,375.1,417.6,446.7,449.9,448.8,429.3,...,436.6,462.2,461.0,479.1,471.0,486.7,508.7,536.6,558.4,612.9
4,Barnet,427.4,450.1,453.3,442.3,466.1,460.0,502.2,528.1,501.6,...,491.0,485.6,522.6,536.6,536.4,538.8,574.9,624.3,633.1,714.6
5,Bexley,405.0,431.9,438.1,452.4,443.4,469.8,483.9,486.3,518.1,...,491.1,487.0,513.0,512.7,553.4,566.5,586.6,634.4,680.2,694.4

In [ ]:
df = df.rename(columns={'Area': 'Borough'})
boroughs_to_keep = ['Camden', 'Islington', 'Hackney', 'Tower Hamlets', 'Greenwich', 'Southwark', 'Lambeth', 'Hammersmith and Fulham', 'Kensington and Chelsea', 'Westminster', 'Brent']
df = df[df['Borough'].isin(boroughs_to_keep)]
df = df.T
df

,6,8,12,13,14,20,21,23,29,31,34
Borough,Brent,Camden,Greenwich,Hackney,Hammersmith and Fulham,Islington,Kensington and Chelsea,Lambeth,Southwark,Tower Hamlets,Westminster
2002,368.4,470.8,401.3,387.1,492.8,465.0,601.5,404.3,397.6,427.2,480.0
2003,359.8,491.1,430.4,395.2,498.3,472.0,612.7,425.5,423.8,450.4,504.7
2004,395.5,507.9,441.8,411.1,512.0,499.0,691.6,446.7,412.6,481.6,549.0
2005,394.7,541.0,405.0,432.1,490.7,532.5,733.0,460.3,430.4,479.1,574.0
2006,398.7,552.2,456.3,428.8,545.7,503.7,670.9,455.6,459.9,472.5,598.1
2007,421.6,592.6,456.2,451.1,546.2,517.5,689.9,490.7,487.8,531.9,625.5
2008,437.0,614.6,480.8,472.6,584.8,566.7,774.7,494.5,493.2,548.1,670.8
2009,439.1,621.1,513.2,503.7,585.1,588.2,805.2,522.4,526.7,556.2,672.2
2010,423.1,583.0,488.7,501.3,596.9,599.0,791.5,574.9,521.2,547.1,718.7
2011,414.9,612.0,488.0,517.4,594.1,598.5,793.9,536.7,530.5,542.3,670.8
2012,442.0,612.0,470.5,511.4,613.3,605.1,655.0,574.8,536.6,566.8,701.0
2013,441.8,629.5,516.5,519.0,610.7,606.0,726.7,536.6,524.4,575.1,625.0
2014,441.8,613.1,509.1,513.0,609.9,613.5,641.3,547.0,529.0,574.9,659.6
2015,457.6,588.1,532.5,534.5,646.7,603.7,632.4,542.9,557.0,554.9,656.0
2016,467.0,632.5,539.3,527.8,641.9,613.3,651.6,551.7,543.0,557.9,667.5
2017,471.0,614.3,553.0,558.1,651.1,646.1,784.4,594.6,587.1,592.0,730.8
2018,479.9,634.4,566.0,555.4,682.0,687.7,670.6,617.1,589.4,627.6,757.1
2019,524.0,662.0,579.5,574.9,728.0,699.1,763.7,634.8,628.0,688.9,703.9
2020,531.8,623.0,573.1,574.9,713.1,690.1,802.0,670.8,620.9,665.0,701.1
2021,555.7,695.0,618.3,576.8,727.0,670.7,763.6,681.2,637.8,685.2,771.1
2022,556.6,699.2,657.4,632.8,732.6,701.4,719.1,703.0,672.3,725.2,738.5
2023,634.6,732.1,719.4,667.7,790.1,766.6,855.9,774.1,731.5,785.8,767.5
2024,646.2,766.6,749.6,762.5,798.5,811.2,810.1,797.4,788.6,766.5,843.3

In [ ]:
df = df.reset_index()
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df = df.rename(columns={df.columns[0]: 'Year'})
df = df.set_index('Year')

df

,Brent,Camden,Greenwich,Hackney,Hammersmith and Fulham,Islington,Kensington and Chelsea,Lambeth,Southwark,Tower Hamlets,Westminster
Year,,,,,,,,,,,
2002,368.4,470.8,401.3,387.1,492.8,465.0,601.5,404.3,397.6,427.2,480.0
2003,359.8,491.1,430.4,395.2,498.3,472.0,612.7,425.5,423.8,450.4,504.7
2004,395.5,507.9,441.8,411.1,512.0,499.0,691.6,446.7,412.6,481.6,549.0
2005,394.7,541.0,405.0,432.1,490.7,532.5,733.0,460.3,430.4,479.1,574.0
2006,398.7,552.2,456.3,428.8,545.7,503.7,670.9,455.6,459.9,472.5,598.1
2007,421.6,592.6,456.2,451.1,546.2,517.5,689.9,490.7,487.8,531.9,625.5
2008,437.0,614.6,480.8,472.6,584.8,566.7,774.7,494.5,493.2,548.1,670.8
2009,439.1,621.1,513.2,503.7,585.1,588.2,805.2,522.4,526.7,556.2,672.2
2010,423.1,583.0,488.7,501.3,596.9,599.0,791.5,574.9,521.2,547.1,718.7
2011,414.9,612.0,488.0,517.4,594.1,598.5,793.9,536.7,530.5,542.3,670.8
2012,442.0,612.0,470.5,511.4,613.3,605.1,655.0,574.8,536.6,566.8,701.0
2013,441.8,629.5,516.5,519.0,610.7,606.0,726.7,536.6,524.4,575.1,625.0
2014,441.8,613.1,509.1,513.0,609.9,613.5,641.3,547.0,529.0,574.9,659.6
2015,457.6,588.1,532.5,534.5,646.7,603.7,632.4,542.9,557.0,554.9,656.0
2016,467.0,632.5,539.3,527.8,641.9,613.3,651.6,551.7,543.0,557.9,667.5
2017,471.0,614.3,553.0,558.1,651.1,646.1,784.4,594.6,587.1,592.0,730.8
2018,479.9,634.4,566.0,555.4,682.0,687.7,670.6,617.1,589.4,627.6,757.1
2019,524.0,662.0,579.5,574.9,728.0,699.1,763.7,634.8,628.0,688.9,703.9
2020,531.8,623.0,573.1,574.9,713.1,690.1,802.0,670.8,620.9,665.0,701.1
2021,555.7,695.0,618.3,576.8,727.0,670.7,763.6,681.2,637.8,685.2,771.1
2022,556.6,699.2,657.4,632.8,732.6,701.4,719.1,703.0,672.3,725.2,738.5
2023,634.6,732.1,719.4,667.7,790.1,766.6,855.9,774.1,731.5,785.8,767.5
2024,646.2,766.6,749.6,762.5,798.5,811.2,810.1,797.4,788.6,766.5,843.3

In [ ]:
df.index = df.index.astype(int)
cleaned_df = df.loc[2017:2024]
cleaned_df

,Brent,Camden,Greenwich,Hackney,Hammersmith and Fulham,Islington,Kensington and Chelsea,Lambeth,Southwark,Tower Hamlets,Westminster
Year,,,,,,,,,,,
2017,471.0,614.3,553.0,558.1,651.1,646.1,784.4,594.6,587.1,592.0,730.8
2018,479.9,634.4,566.0,555.4,682.0,687.7,670.6,617.1,589.4,627.6,757.1
2019,524.0,662.0,579.5,574.9,728.0,699.1,763.7,634.8,628.0,688.9,703.9
2020,531.8,623.0,573.1,574.9,713.1,690.1,802.0,670.8,620.9,665.0,701.1
2021,555.7,695.0,618.3,576.8,727.0,670.7,763.6,681.2,637.8,685.2,771.1
2022,556.6,699.2,657.4,632.8,732.6,701.4,719.1,703.0,672.3,725.2,738.5
2023,634.6,732.1,719.4,667.7,790.1,766.6,855.9,774.1,731.5,785.8,767.5
2024,646.2,766.6,749.6,762.5,798.5,811.2,810.1,797.4,788.6,766.5,843.3

In [ ]:
cleaned_df.to_csv('weekly_income_cleaned.csv')

In [ ]:
files.download('weekly_income_cleaned.csv')