<a href="https://colab.research.google.com/github/greypen2006/Final_Project/blob/main/N1.2cleaned_female_population_per_borough_per_age.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from matplotlib import pyplot as plt
from matplotlib import pylab
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.colors as mcolors
import matplotlib as mpl
from matplotlib import cm
from matplotlib.colors import LinearSegmentedColormap
import matplotlib.patches as mpatches

In [ ]:
df=pd.read_csv('female pop ber borough uncleaned.csv')
df

,Code,Name,Geography,All ages,0,1,2,3,4,5,...,81,82,83,84,85,86,87,88,89,90+
0,K02000001,UNITED KINGDOM,Country,"35,350,669","326,016","336,137","357,634","355,532","369,036","375,561",...,"228,827","199,487","172,781","171,950","162,329","149,584","133,110","117,829","102,415","414,716"
1,K03000001,GREAT BRITAIN,Country,"34,372,604","316,297","326,219","346,741","344,890","357,992","364,127",...,"222,539","194,136","168,032","167,539","158,149","145,883","129,650","114,848","99,796","404,676"
2,K04000001,ENGLAND AND WALES,Country,"31,520,864","293,399","302,974","322,617","320,378","332,804","337,691",...,"203,303","177,110","153,250","152,975","144,806","133,757","119,077","105,285","91,566","373,910"
3,E92000001,ENGLAND,Country,"29,895,762","279,880","289,186","307,802","305,862","317,164","321,861",...,"191,329","166,350","143,911","144,314","136,727","126,189","112,270","99,353","86,576","353,270"
4,E12000001,NORTH EAST,Region,"1,406,130","12,187","12,526","13,318","13,280","13,647","14,221",...,"9,030","8,042","7,273","7,362","6,815","6,453","5,786","4,838","4,403","16,383"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,N09000007,Lisburn and Castlereagh,Local Government District,"76,837",778,767,842,832,823,933,...,546,490,414,410,388,323,314,286,240,876
400,N09000008,Mid and East Antrim,Local Government District,"71,141",624,685,637,666,744,737,...,558,473,406,372,375,300,325,250,225,837
401,N09000009,Mid Ulster,Local Government District,"75,836",907,956,986,"1,004","1,081",975,...,442,348,355,316,297,251,201,200,193,684
402,N09000010,"Newry, Mourne and Down",Local Government District,"92,633","1,025","1,050","1,144","1,136","1,126","1,193",...,564,441,413,419,331,305,300,293,215,912
403,N09000011,Ards and North Down,Local Government District,"84,889",668,695,763,711,768,837,...,722,583,524,455,471,421,349,287,274,"1,135"

In [ ]:
df = df.drop(columns=['Code'])
df = df[df['Geography'] == 'London Borough']
df

,Name,Geography,All ages,0,1,2,3,4,5,6,...,81,82,83,84,85,86,87,88,89,90+
202,Camden,London Borough,"115,907",957,888,940,938,943,895,927,...,465,389,339,330,323,332,219,225,202,768
203,City of London,London Borough,"6,951",22,25,29,15,28,28,10,...,23,14,27,19,18,19,3,7,7,21
204,Hackney,London Borough,"139,603","1,707","1,557","1,600","1,547","1,487","1,427","1,371",...,319,291,240,258,202,180,186,176,147,478
205,Hammersmith and Fulham,London Borough,"101,423",962,925,990,880,891,816,811,...,367,308,311,290,270,196,184,158,136,518
206,Haringey,London Borough,"137,540","1,490","1,401","1,454","1,448","1,366","1,441","1,352",...,454,412,370,352,346,326,256,269,205,748
207,Islington,London Borough,"117,783","1,137","1,078","1,060","1,037",937,914,924,...,326,271,261,242,218,220,175,180,154,560
208,Kensington and Chelsea,London Borough,"77,455",622,664,646,593,565,658,571,...,374,341,263,331,278,221,217,131,168,659
209,Lambeth,London Borough,"163,730","1,574","1,473","1,502","1,207","1,259","1,296","1,256",...,447,390,382,349,365,295,248,268,205,799
210,Lewisham,London Borough,"158,990","1,841","1,781","1,743","1,651","1,721","1,695","1,720",...,520,417,408,436,393,362,336,265,253,944
211,Newham,London Borough,"185,596","2,669","2,658","2,696","2,438","2,317","2,287","2,347",...,385,379,316,290,303,270,222,195,160,624
212,Southwark,London Borough,"163,114","1,568","1,533","1,530","1,384","1,382","1,438","1,401",...,372,361,365,346,332,259,242,226,186,798
213,Tower Hamlets,London Borough,"165,717","2,180","1,826","1,964","1,648","1,686","1,479","1,572",...,261,230,245,243,207,158,151,153,103,529
214,Wandsworth,London Borough,"178,187","1,843","1,765","1,717","1,754","1,657","1,650","1,543",...,608,513,412,439,441,369,345,309,273,"1,128"
215,Westminster,London Borough,"108,896",913,959,936,871,768,729,647,...,428,405,374,329,327,337,279,240,181,745
216,Barking and Dagenham,London Borough,"118,562","1,702","1,739","1,846","1,721","1,891","1,792","1,788",...,327,290,246,262,243,243,198,154,161,564
217,Barnet,London Borough,"208,240","2,142","2,325","2,425","2,330","2,389","2,431","2,472",...,997,897,762,808,753,701,570,578,532,"2,588"
218,Bexley,London Borough,"132,741","1,299","1,318","1,528","1,513","1,575","1,612","1,588",...,796,717,590,627,603,579,491,401,402,"1,541"
219,Brent,London Borough,"180,473","2,098","2,152","2,140","1,930","2,064","1,940","1,996",...,702,624,512,592,480,503,462,408,359,"1,290"
220,Bromley,London Borough,"174,422","1,689","1,751","1,831","1,851","1,942","1,989","1,968",...,"1,078",979,791,836,783,779,704,618,516,"2,422"
221,Croydon,London Borough,"211,892","2,517","2,556","2,485","2,693","2,559","2,535","2,546",...,985,802,743,725,726,668,621,483,458,"1,901"
222,Ealing,London Borough,"195,481","2,298","2,257","2,038","2,109","2,097","2,177","2,155",...,746,703,643,613,585,496,487,412,321,"1,398"
223,Enfield,London Borough,"171,206","1,824","1,883","2,099","1,920","2,139","2,078","2,169",...,773,749,691,689,639,568,556,465,427,"1,714"
224,Greenwich,London Borough,"153,409","1,702","1,800","1,962","1,807","1,740","1,757","1,838",...,505,445,387,389,368,335,272,242,224,882
225,Harrow,London Borough,"136,596","1,513","1,566","1,690","1,583","1,735","1,602","1,594",...,687,583,535,617,582,493,461,382,399,"1,408"
226,Havering,London Borough,"142,176","1,578","1,614","1,644","1,726","1,743","1,821","1,818",...,899,761,617,669,615,615,588,493,482,"1,857"
227,Hillingdon,London Borough,"164,894","2,000","2,060","2,185","2,128","2,008","2,059","2,053",...,704,623,589,586,528,550,474,436,398,"1,524"
228,Hounslow,London Borough,"149,967","1,775","1,674","1,769","1,701","1,865","1,714","1,812",...,535,552,460,457,401,407,315,285,243,982
229,Kingston upon Thames,London Borough,"90,199",838,797,945,880,898,963,"1,000",...,410,366,301,344,317,286,250,241,195,975
230,Merton,London Borough,"112,455","1,201","1,182","1,258","1,298","1,315","1,343","1,305",...,441,389,405,383,342,332,311,256,237,986
231,Redbridge,London Borough,"160,718","2,097","2,110","2,255","2,138","2,142","2,056","2,167",...,638,575,473,489,494,448,385,338,297,"1,430"
232,Richmond upon Thames,London Borough,"102,372",851,829,975,"1,039","1,142","1,131","1,186",...,580,529,401,421,431,397,297,280,254,"1,041"
233,Sutton,London Borough,"110,346","1,027","1,060","1,193","1,207","1,257","1,260","1,316",...,589,515,433,432,451,395,362,337,294,"1,174"
234,Waltham Forest,London Borough,"143,169","1,912","1,860","1,872","1,807","1,796","1,679","1,633",...,524,427,340,374,359,335,287,239,196,855

In [ ]:
boroughs_to_keep = ['Camden', 'Islington', 'Hackney', 'Tower Hamlets', 'Greenwich', 'Southwark', 'Lambeth', 'Hammersmith and Fulham', 'Kensington and Chelsea', 'Westminster', 'Brent']
df = df[df['Name'].isin(boroughs_to_keep)]
df

,Name,Geography,All ages,0,1,2,3,4,5,6,...,81,82,83,84,85,86,87,88,89,90+
202,Camden,London Borough,"115,907",957,888,940,938,943,895,927,...,465,389,339,330,323,332,219,225,202,768
204,Hackney,London Borough,"139,603","1,707","1,557","1,600","1,547","1,487","1,427","1,371",...,319,291,240,258,202,180,186,176,147,478
205,Hammersmith and Fulham,London Borough,"101,423",962,925,990,880,891,816,811,...,367,308,311,290,270,196,184,158,136,518
207,Islington,London Borough,"117,783","1,137","1,078","1,060","1,037",937,914,924,...,326,271,261,242,218,220,175,180,154,560
208,Kensington and Chelsea,London Borough,"77,455",622,664,646,593,565,658,571,...,374,341,263,331,278,221,217,131,168,659
209,Lambeth,London Borough,"163,730","1,574","1,473","1,502","1,207","1,259","1,296","1,256",...,447,390,382,349,365,295,248,268,205,799
212,Southwark,London Borough,"163,114","1,568","1,533","1,530","1,384","1,382","1,438","1,401",...,372,361,365,346,332,259,242,226,186,798
213,Tower Hamlets,London Borough,"165,717","2,180","1,826","1,964","1,648","1,686","1,479","1,572",...,261,230,245,243,207,158,151,153,103,529
215,Westminster,London Borough,"108,896",913,959,936,871,768,729,647,...,428,405,374,329,327,337,279,240,181,745
219,Brent,London Borough,"180,473","2,098","2,152","2,140","1,930","2,064","1,940","1,996",...,702,624,512,592,480,503,462,408,359,"1,290"
224,Greenwich,London Borough,"153,409","1,702","1,800","1,962","1,807","1,740","1,757","1,838",...,505,445,387,389,368,335,272,242,224,882

In [ ]:
df.columns = df.columns.str.strip()
cols_to_keep = ['Name', 'All ages'] + [str(age) for age in range(18, 26)]
df = df[cols_to_keep]
df = df.rename(columns={'Name': 'Borough'})
df

,Borough,All ages,18,19,20,21,22,23,24,25
202,Camden,"115,907","1,509","3,249","3,298","3,290","2,645","2,710","2,916","2,762"
204,Hackney,"139,603","1,547","1,403","1,540","1,684","2,000","2,477","2,909","3,212"
205,Hammersmith and Fulham,"101,423",879,840,"1,151","1,461","1,895","2,531","2,819","3,030"
207,Islington,"117,783","1,223","1,885","2,113","2,187","2,489","2,703","2,979","3,050"
208,Kensington and Chelsea,"77,455",697,678,836,"1,049","1,180","1,631","1,678","1,800"
209,Lambeth,"163,730","1,623","1,789","1,790","1,987","2,597","3,550","4,543","5,203"
212,Southwark,"163,114","1,746","2,610","2,846","2,921","2,959","3,184","3,807","3,797"
213,Tower Hamlets,"165,717","1,960","2,850","3,346","3,478","3,735","4,172","4,735","5,302"
215,Westminster,"108,896","1,182","1,759","1,883","2,004","1,868","2,516","2,756","2,737"
219,Brent,"180,473","2,049","2,170","2,465","2,607","2,953","3,225","3,437","3,597"
224,Greenwich,"153,409","1,757","1,614","1,599","1,674","1,855","2,241","2,323","2,588"

In [ ]:
age_cols = ['All ages'] + [str(age) for age in range(18, 26)]
df[age_cols] = (df[age_cols].replace(',', '', regex=True).apply(pd.to_numeric))
df

,Borough,All ages,18,19,20,21,22,23,24,25
202,Camden,115907,1509,3249,3298,3290,2645,2710,2916,2762
204,Hackney,139603,1547,1403,1540,1684,2000,2477,2909,3212
205,Hammersmith and Fulham,101423,879,840,1151,1461,1895,2531,2819,3030
207,Islington,117783,1223,1885,2113,2187,2489,2703,2979,3050
208,Kensington and Chelsea,77455,697,678,836,1049,1180,1631,1678,1800
209,Lambeth,163730,1623,1789,1790,1987,2597,3550,4543,5203
212,Southwark,163114,1746,2610,2846,2921,2959,3184,3807,3797
213,Tower Hamlets,165717,1960,2850,3346,3478,3735,4172,4735,5302
215,Westminster,108896,1182,1759,1883,2004,1868,2516,2756,2737
219,Brent,180473,2049,2170,2465,2607,2953,3225,3437,3597
224,Greenwich,153409,1757,1614,1599,1674,1855,2241,2323,2588

In [ ]:
df.to_csv('femalepop_by_borough_and_age_cleaned.csv', index=False)